@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Roboto:400italic,300,700,300italic,400);

body {
  font-family: "Roboto",sans-serif;
  background-color: #FCFCFC; /*#f5f7fa;*/
}

a {
  color: #0063C3;
  text-decoration: none; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }
  hr:after {
    content: "";
    display: table;
    clear: both; }

.transparent {
  opacity: 0; }

.content-wrapper {
  padding: 0px;
  /*margin: 0 -15px;*/
  min-width: 620px; }

header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #FFF;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  }
  header .is-logo {
    float: left;
    margin-left: 12px;
    margin-right: 48px; }
  header .logo {
    float: left;
    margin-right: 16px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF; }
    header .logo:hover {
      text-decoration: none; }
  header .input-group {
    float: left;
    width: 600px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden; }
    header .input-group #q {
      border: 0;
      height: 100%; }
      header .input-group #q:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px #FFBE61; }
    .input-group .ais-search-box input.ais-search-box--input {
       border-top-left-radius: 6px;
       border-bottom-left-radius: 6px;
       border-color: #66afe9;
    }
    header .input-group .input-group-btn button {
      height: 100%;
      padding: 0 30px;
      color: #000;
      border-color: #66afe9;
      background-color: #FFF; }
    header .input-group-btn .btn .fa-search {
       color: #66afe9;
    }
    @media (min-width: 961px) {
    header .input-group {
      margin-top: 10px; }
    }
    @media (max-width: 960px) {
    header .input-group {
      z-index: 110;
      width: 100%; }
    }


ul.nav.navbar-nav.navbar-right li a.btn {
   border-radius: 45px;
   padding: 5px 15px 5px 15px;
   margin-right: 20px;
   font-size: 12px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   border-color: #3498db;
   color: #FFF;
   background-color: #3498db;
   font-weight: 400;
   float: right;
   margin-top: 10px;
}

ul.nav.navbar-nav.navbar-right li a.btn:hover {
   background-color: #337ab7;
   border-color: #ddd;
   box-shadow: 0 0 10px #ddd;
}

aside {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 255px;
  padding: 20px;
  border-right: 1px solid #EEE;
  box-shadow: 6px 0 6px -3px #ddd;
  -webkit-box-shadow: 6px 0 6px -3px #ddd;
  z-index: 100;
  background: #FFFFFF; }
  aside:hover {
     overflow-y: auto;
  }
  @media (max-width: 768px) {
     aside {
       top: 120px;
    }
  }
  aside .facet-category-title {
    font-size: 14px;
    color: #888;
    margin: 0 0 8px; }
  .facet h5 {
     padding: 0 0 6px;
     border-bottom: 2px solid #EEE;
  }
  aside .facet-wrapper {
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-size: .87em; }
  aside .facet {
    margin-bottom: 16px; }
  aside .facet-title {
    font-weight: bold;
    margin: 4px 0; }
  aside .facet-item, aside a {
    text-transform: capitalize;
    color: #000000;
    }
    aside .facet-item:hover, aside a:hover {
      color: #B32500;
      text-decoration: none; }
    aside .facet-item.active, aside a.active {
      font-weight: bold; }
    aside .facet-item input, aside a input {
      margin-right: 4px; }
  aside .facet-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; }
  aside .facet-count {
    color: #888;
    float: right;
  }
  aside #colors:after {
    content: "";
    display: table;
    clear: both; }
  aside .facet-color {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin: 0 6px 6px;
    display: block;
    overflow: hidden;
    float: left; }
    aside .facet-color.checked {
      box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); }
    aside .facet-color[data-facet-value="White"] {
      background-color: #FFFFFF;
      box-shadow: inset 0 0 0 1px #CCC; }
      aside .facet-color[data-facet-value="White"].checked {
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1); }
    aside .facet-color[data-facet-value="Black"] {
      background-color: #000000; }
    aside .facet-color[data-facet-value="Black-brown"] {
      background-color: #382919; }
    aside .facet-color[data-facet-value="Pink"] {
      background-color: #C0116D; }
    aside .facet-color[data-facet-value="Gray"] {
      background-color: #6F6E6C; }
    aside .facet-color[data-facet-value="Blue"] {
      background-color: #5182A1; }
    aside .facet-color[data-facet-value="Green"] {
      background-color: #1E9C5E; }
    aside .facet-color[data-facet-value="Brown"] {
      background-color: #7B6A63; }
    aside .facet-color[data-facet-value="Red"] {
      background-color: #BC1C1A; }
    aside .facet-color[data-facet-value="Dark gray"] {
      background-color: #444348; }
    aside .facet-color[data-facet-value="Silver color"] {
      background-color: #AAAAA8; }
    aside .facet-color[data-facet-value="Light brown"] {
      background-color: #C19A6E; }
    aside .facet-color[data-facet-value="Black-brown stain"] {
      background-color: #4B4640; }
    aside .facet-color[data-facet-value="Off-white"] {
      background-color: #D0C8B4; }
    aside .facet-color[data-facet-value="Beige"] {
      background-color: #C9B8A3; }
    aside .facet-color[data-facet-value="Light green"] {
      background-color: #ABBD9B; }
    aside .facet-color[data-facet-value="White stain"] {
      background-color: #E4E1DC; }
    aside .facet-color[data-facet-value="Turquoise"] {
      background-color: #46BCC9; }
    aside .facet-color[data-facet-value="Birch effect"] {
      background-color: #CBBFA4; }
    aside .facet-color[data-facet-value="Yellow"] {
      background-color: #F5E500; }
    aside .facet-color[data-facet-value="Dark blue"] {
      background-color: #374063; }
    aside .facet-color[data-facet-value="Galvanized"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Birch"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Dark brown"] {
      background-color: #74523E; }
    aside .facet-color[data-facet-value="High gloss gray"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Gray/white"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Red/white"] {
      background-color: #FA757B; }
    aside .facet-color[data-facet-value="Clear"] {
      background-color: #D5DAE0; }
    aside .facet-color[data-facet-value="Matte black"] {
      background-color: #616872; }
    aside .facet-color[data-facet-value="Matte white"] {
      background-color: #DCDBD7; }
    aside .facet-color[data-facet-value="White stained oak effect"] {
      background-color: #E7E8E0; }
  aside .ais-price-ranges--form {
    margin-top: 8px; }
  aside .ais-price-ranges--currency {
    display: inline-block;
    margin-right: 4px; }
  aside .ais-price-ranges--input {
    display: inline-block;
    width: 50px;
    border-radius: 2px;
    border: solid 1px #888;
    font-weight: normal; }
  aside .ais-price-ranges--button {
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 4px;
    font-size: 10px;
    line-height: 20px;
    border: solid 1px #888;
    border-radius: 50%;
    text-align: center;
    background-color: #EEE; }
    aside .ais-price-ranges--button:hover {
      color: #0063C3;
      background-color: #FFFFFF; }
    aside .ais-price-ranges--button:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #FFBE61; }

.results-wrapper {
  margin-left: 30px;
  padding: 70px 10px 10px 240px; }

#results-topbar {
  display: block;
  width: 100%;
  line-height: 22px; }
  #results-topbar:after {
    content: "";
    display: table;
    clear: both; }
  #results-topbar .sort-by {
    float: left; }
  #results-topbar label {
    font-weight: normal;
    font-size: .8em; }
  #results-topbar #sort-by-selector {
    display: inline-block; }

@media (max-width: 960px) {
   #results-topbar {
      margin-top: 70px;
   }
}
@media (max-width: 768px) {
   #results-topbar {
      margin-top: 110px;
   }
}

#clear-all {
  display: block;
  margin-bottom: 16px; }
  #clear-all .btn {
    font-size: 13px; }

#stats {
  float: right;
  padding-right: 10px;
  font-size: .8em; }

#hits {
  margin: 0 -.5%; }
  #hits:after {
    content: "";
    display: table;
    clear: both; }

 .ais-hierarchical-menu--item {
    margin-bottom: 4px;
    font-size: 1.05em;
 }

.ais-hierarchical-menu--item .facet-item .facet-name {
   color: #333;
}

.ais-toggle--header.ais-header {
   font-weight: bold;
}

.ais-toggle--label .ais-toggle--checkbox {
   margin-right: 4px;
}
.ais-toggle--item * {
   font-weight: normal;
}

#hits-container .no-results {
   color: #000;
   background-color: #FFF;
}

.hits {
   margin-left: 30px;
   width: 1280px;
}
@media (min-width: 1280px) {
   .hits {
      width: 1760px;
   }
}
@media (max-width: 1080px) {
   aside {
      width: 200px;
   }
   .hits {
      width: 100%;
   }
}

.hit {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  border: 4px;
  background-color: #FFF;
  float: left;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  margin: .5%;
  position: relative; }
  .hit:hover {
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   }
  .hit .product-picture-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto; }
    .hit div.product-picture {
      -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
     background-size:cover;
     background-repeat:no-repeat;
     width:100%;
     height:190px;
    }
  .hit .product-desc-wrapper {
    height: 120px;
    width: 100%;
    overflow: hidden; }
  .hit .product-name {
    font-weight: bold;
    color: #000000;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px;
     height: 35px;
  }
  .hit .product-about {
     height: 45px;
     font-size: 12px;
     color: #666;
  }
  .hit .product-type {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2; }
  .hit .product-rating {
    display: inline;
    float: left;
  }
  .hit .price-wrapper {
     display: inline;
     float: right;
  }
 .hit .product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #080;
    letter-spacing: -1px;
    margin-right: 2px; }
  .hit .product-promo {
     color: rgba(0, 0, 0, .55);
     font-weight: 400;
     font-size: .85em;
     text-decoration: line-through;
     margin-right: 5px;
  }
  .product-price.product-audit {
     font-size: 15px;
     color: #555;
  }
  .price-wrapper > .product-promo + .product-price {
     color: #FF4545;
     font-size: 18px;
  }
  .hit em {
    color: #000000;
    font-style: normal;
    background-color: #FFBE61; }

#pagination ul.pagination a {
background: #F8F8F8;
padding: 3px 8px;
color: #333333;
margin-right: 4px; }
#pagination ul.pagination li.active a {
   border-color: #b5b5b5;
   background: #E8E8E8;
   font-weight:bolder;
}
#pagination ul.pagination a:hover {
   border-color: #cfcfcf;
   background: #ebebeb; }

.ais-sort-by-selector {
   display: block;
   width: 100%;
   height: 30px;
   padding: 6px 16px;
   font-size: 14px;
   line-height: 1.5285;
   color: #3a3f51;
   background-color: #FFF;
   background-image: none;
   border: 1px solid #dde6e9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/* ========================================================================
   Component: bootstrap-reset.less
 ========================================================================== */
.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon.fa-pull-left {
  margin-right: 0.3em;
}
.glyphicon.fa-pull-right {
  margin-left: 0.3em;
}
.glyphicon.pull-left {
  margin-right: 0.3em;
}
.glyphicon.pull-right {
  margin-left: 0.3em;
}
.glyphicon.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon.glyphicon-chevron-right:before {
  content: "\f054";
}
.glyphicon.glyphicon-chevron-up:before {
  content: "\f077";
}
.glyphicon.glyphicon-chevron-down:before {
  content: "\f078";
}
.glyphicon.glyphicon-folder-open:before {
  content: "\f07c";
}

/* Override */
.label-clear {
    color: #333;
    font-size: 11px;
    line-height: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
*:focus {
  outline: 0 !important;
}
a {
  outline: none !important;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #748690;
}
[ng-click],
[data-ng-click] {
  cursor: pointer;
}
hr {
  border-top: 1px solid #e4eaec;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.list-group {
  line-height: 1.3;
}
.list-group .list-group-item {
  padding: 10px;
}
.panel > .list-group .list-group-item {
  border: 0;
}
.page-header {
  border-bottom-color: #e4eaec;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  text-decoration: none !important;
}
.panel.panel-default {
  border-top-width: 3px;
}
.panel-footer-clear {
   background: none;
   border: none;
}

.well {
  border: 0;
  border-radius: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.jumbotron {
  border: 1px solid #dde6e9;
}
@media only screen and (min-width: 768px) {
  .jumbotron {
    padding: 30px 15px;
  }
}

.nav-tabs > li > a {
  font-weight: bold;
  color: #656565;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
}
.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.btn.btn-link {
  box-shadow: none;
  border: 0;
}
.btn.btn-default {
  border-color: #eaeaea;
}
.input-group .btn {
  font-size: 14px;
  /*border-color: #dde6e9;*/
}
.input-group .input-sm + .input-group-btn .btn {
  font-size: 13px;
}
.form-control:focus {
  border-color: #B0BEC5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
}
.input-sm,
select.input-sm {
  height: 31px;
}
@media only screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
  }
}
.table > thead > tr > th {
  border-bottom-width: 1px;
}
.table > tbody + tbody {
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-top: 1px solid #eee !important;
  border-bottom-width: 1px;
}
.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px;
}
.popover .popover-title {
  border: 0;
}
.nav.nav-pills .active > a {
  background-color: #5d9cec;
}
.dropdown-header {
  font-size: 15px;
  color: #a1a2a3;
}
.dropdown-menu {
  border-radius: 3px;
}
.dropdown-container > .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-left: -100px;
}
.dropdown-menu > li.nav-divider {
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > div.checkbox {
    margin-left: 20px;
}

.dropdown-list > .dropdown-menu {
   padding: 0;
   min-width: 280px;
}
.navbar-top .navbar-nav > .active > a {
  color: #999;
}
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}
.navbar-nav {
  margin: 12px -15px;
}
@media only screen and (min-width: 768px) {
  .navbar-nav {
    margin: 0 30px 0 0;
  }
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0;
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
.topnavbar,
.navbar,
.navbar .dropdown-menu {
  filter: none !important;
}
/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  z-index: 1050;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    box-shadow: 0 0 0 #000;
  }
  .topnavbar .navbar-header {
    width: 220px;
    text-align: center;
  }
  .topnavbar .navbar-header .navbar-brand {
    width: 100%;
  }
}

.topnavbar .navbar-header {
  background-color: #000;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
  header.topnavbar-wrapper {
      margin-bottom: 65px;
   }
}

@media only screen and (max-width: 767px) {
   header.topnavbar-wrapper {
      margin-bottom: 120px;
   }
}

.topnavbar .navbar-header {
  position: relative;
  z-index: 11;
}
.topnavbar .navbar-header .navbar-brand {
  padding: 0;
}
.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}
.topnavbar .navbar-header .brand-logo {
  display: block;
  padding: 15px 15px;
}
.topnavbar .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 10px 15px;
}
.topnavbar .navbar-nav > li > .navbar-text {
  color: #27b6de;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #27b6de;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #0960a5;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 65px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .topnavbar .navbar-text {
    margin: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 3001;
    line-height: 65px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .sidebar-toggle > em {
    color: white;
  }
}
.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;
}
.nav-wrapper .nav.navbar-nav {
  float: left;
}
.nav-wrapper .nav.navbar-nav.navbar-right {
  float: right;
   margin-right: 10px;
}
.nav-wrapper .nav > li {
  position: static;
  float: left;
}
.nav-wrapper .navbar-nav .open .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 65px;
  z-index: 9001;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;
}
.topnavbar .navbar-form .form-group {
  height: 100%;
  width: 100%;
}
.topnavbar .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.topnavbar .navbar-form.open {
  top: 0;
}
.topnavbar .navbar-form .has-feedback .form-control-feedback {
  height: 30px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px;
  }
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    border: 0;
    background-color: #000;
  }
  .topnavbar .navbar-header {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  .topnavbar .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 #0d87e9 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #0960a5;
  }
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    position: static;
  }
  .nav-wrapper {
    position: relative;
    z-index: 10;
  }
  .nav-wrapper:before,
  .nav-wrapper:after {
    content: " ";
    display: table;
  }
  .nav-wrapper:after {
    clear: both;
  }
  .nav-wrapper .nav > li {
    position: relative;
  }
  .nav-wrapper .navbar-nav .open .dropdown-menu {
    left: auto;
    right: auto;
  }
  .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
    left: auto;
    right: 0;
  }
}
.media-box,
.media-box-body {
   overflow: hidden;
}

   .media-box,
   .media-box .media-box {
      margin-top: 15px;
   }

      .media-box:first-child {
         margin-top: 0;
      }

.media-box-object {
   display: block;
}

.media-box-heading {
   margin: 0 0 5px;
}

.media-box > .pull-left {
   margin-right: 20px;
}

.media-box > .pull-right {
   margin-left: 20px;
}

.media-box-list {
   padding-left: 0;
   list-style: none;
}